@{
    ViewData["Title"] = "Создание клиента";
}

<form action="/Clients/Create" method="post">
    <label for="FirstName">Имя</label><br />
    <input type="text" id="FirstName" name="FirstName" /><br />
    <label for="LastName">Фамилия</label><br />
    <input type="text" id="LastName" name="LastName" /><br />
    <input type="submit" value="Сохранить" />
</form>