@model List<WebParking.Domain.Client>

@{
    ViewData["Title"] = "Клиенты";
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elem in Model)
        {
            <tr>
                <td>@elem.FirstName</td>
                <td>@elem.LastName</td>
            </tr>
        }
    </tbody>

</table>

