@model List<WebParking.ViewModels.MoneyReportItemViewModel>

@{
    ViewData["Title"] = "Отчёт о прибыли";
}

@section Styles {
    <link id="datatable-lang" href="~/lib/datatables/Russian.json" />
}

<div class="row">
    <div class="col-12">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Номер документа</th>
                    <th>Итоговая сумма</th>
                    <th>Длительность стоянки</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in Model)
                {
                    <tr>
                        <td>@elem.ClientFullName</td>
                        <td>@elem.ClientDocument</td>
                        <td>@elem.Sum</td>
                        <td>@elem.Hours</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
